*{
    margin: 0%;
    padding: 1%;
    box-sizing: border-box;
    font-family: cursive;
}
body{
    background-color: $bg_azul;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #faebd7;
}